@model List<Web.Models.CartItem>
<div class="container-fluid py-5 mb-5 hero-header" style="min-height:100vh;">
    <h2>Thanh toán thành công!</h2>
    <div class="container py-5 h-100 d-flex align-items-center justify-content-center">


<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên cây</th>
            <th>Số lượng</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tree?.Name</td>
                <td>@item.Quantity</td>
                <td>@(item.Tree?.Price * item.Quantity).ToString("N0") VND</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>